<div class="row">  
  <div class="col-md-12 col-xl-6">
    <div class="card bg-inverse large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">87</h4>
        <h6 class="ng-tns-c5-51">Total Pengecekan</h6>
        <i class="fa fa-eye"></i>
      </div>
    </div>  
  </div>

  <div class="col-md-12 col-xl-6">
    <div class="card bg-info large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">760</h4>
        <h6 class="ng-tns-c5-51">Pengecekan Bulan Ini</h6>
        <i class="fa fa-eye-slash"></i>
      </div>
    </div>  
  </div>
</div>
 
 

<div class="row">  
  <div class="col-md-12 col-xl-6">
    <div class="card card-border-inverse">
      <div class="card-header"> 
        <h5>Pengajuan Pengecekan </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Jam </li>
              <li>Kendaraan </li>
              <li>Lokasi </li>
              <li>Kendala </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>18.00</li>
              <li>Truk 1 D 1234 AA</li>
              <li>Bandung, Jalan ...... </li>
              <li><b>Ban Bocor</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-info">Diproses oleh A</label> 
        </div>
      </div> 
    </div>
  </div> 

  <div class="col-md-12 col-xl-6">
    <div class="card card-border-info">
      <div class="card-header"> 
        <h5>Pengajuan Pengecekan </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Jam </li>
              <li>Kendaraan </li>
              <li>Lokasi </li>
              <li>Kendala </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>18.00</li>
              <li>Truk 1 D 1234 AA</li>
              <li>Bandung, Jalan ...... </li>
              <li><b>Ban Bocor</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-info">Diproses oleh B</label> 
        </div>
      </div> 
    </div>
  </div> 
</div>


   


<div class="row">  
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-inverse">
      <div class="card-header"> 
        <h5>Aktivitas Pengecekan Per Bulan</h5>
      </div>
      <div class="card-block">
        <div id="morris-extra-area"></div>
      </div>
    </div>
  </div>
</div>



<div class="row">  
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-info">
      <div class="card-header"> 
        <h5>Status Laporan Kondisi Kendaraan Harian</h5>
      </div>
      <div class="card-block">
        <horizontal-timeline [timelineElements]="timeline" [showContent]="true"></horizontal-timeline>
      </div>
    </div>
  </div>
</div>

 