<div class="row">  
  <div class="col-md-12 col-xl-3">
    <div class="card bg-success large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">87</h4>
        <h6 class="ng-tns-c5-51">Pekerjaan</h6>
        <i class="fa fa-truck"></i>
      </div>
    </div>  
  </div>

  <div class="col-md-12 col-xl-3">
    <div class="card bg-primary large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">760</h4>
        <h6 class="ng-tns-c5-51">Jam Perjalanan</h6>
        <i class="fa fa-history"></i>
      </div>
    </div>  
  </div>

  <div class="col-md-12 col-xl-3">
    <div class="card bg-info large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">6</h4>
        <h6 class="ng-tns-c5-51">Pekerjaan Ke Depan</h6>
        <i class="fa fa-share"></i>
      </div>
    </div>  
  </div>

  <div class="col-md-12 col-xl-3">
    <div class="card bg-warning large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">1</h4>
        <h6 class="ng-tns-c5-51">Pekerjaan Batal</h6>
        <i class="fa fa-exclamation"></i>
      </div>
    </div>  
  </div>
</div>

 

<div class="row">  
  <div class="col-md-12 col-xl-6">
    <div class="card card-border-success">
      <div class="card-header"> 
        <h5>Pengajuan Sparepart </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Barang </li>
              <li>Jumlah </li>
              <li>Harga </li>
              <li>Total </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>Lampu Sein</li>
              <li>2</li>
              <li>Rp. 30.000</li>
              <li><b>Rp. 60.000</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-info">Menunggu Persetujuan Kepala Bengkel</label> 
        </div>
      </div> 
    </div>
  </div> 

  <div class="col-md-12 col-xl-6">
    <div class="card card-border-success">
      <div class="card-header"> 
        <h5>Pengajuan Sparepart </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Barang </li>
              <li>Jumlah </li>
              <li>Harga </li>
              <li>Total </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>Lampu Sein</li>
              <li>2</li>
              <li>Rp. 30.000</li>
              <li><b>Rp. 60.000</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-success">Selesai Disetujui</label> 
        </div>
      </div> 
    </div>
  </div>



  <div class="col-md-12 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header"> 
        <h5>Pengajuan Service </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Barang </li>
              <li>Jumlah </li>
              <li>Harga </li>
              <li>Total </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>Lampu Sein</li>
              <li>2</li>
              <li>Rp. 30.000</li>
              <li><b>Rp. 60.000</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-info">Menunggu Persetujuan Kepala Bengkel</label> 
        </div>
      </div> 
    </div>
  </div> 

  <div class="col-md-12 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header"> 
        <h5>Pengajuan Service </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Barang </li>
              <li>Jumlah </li>
              <li>Harga </li>
              <li>Total </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>Lampu Sein</li>
              <li>2</li>
              <li>Rp. 30.000</li>
              <li><b>Rp. 60.000</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-danger">Ditolak Kepala Bengkel</label> 
        </div>
      </div> 
    </div>
  </div>
</div>



<div class="row">  
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-success">
      <div class="card-header"> 
        <h5>Aktivitas Pekerjaan Per Bulan</h5>
      </div>
      <div class="card-block">
        <div id="morris-extra-area"></div>
      </div>
    </div>
  </div>
</div>



<div class="row">  
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary">
      <div class="card-header"> 
        <h5>Status Laporan Kondisi Kendaraan Harian</h5>
      </div>
      <div class="card-block">
        <horizontal-timeline [timelineElements]="timeline" [showContent]="true"></horizontal-timeline>
      </div>
    </div>
  </div>
</div>

 