
/**
* File :- style.css
*/
body {
  font-family: "Mada", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: #2c3e50;
  letter-spacing: 0.01rem;
}
.card,.card-header {
  border-radius: 0;
  border: 0;
}
.bg-body {
  background-color: #f5f5f5; }

.bg-dark {
  background-color: #333333; }

.bg-red {
  background-color: #f44336 !important;
  color: white !important; }

.bg-red-50 {
  background-color: #ffebee !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-red-100 {
  background-color: #ffcdd2 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-red-200 {
  background-color: #ef9a9a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-red-300 {
  background-color: #e57373 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-red-400 {
  background-color: #ef5350 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-red-500 {
  background-color: #f44336 !important;
  color: white !important; }

.bg-red-600 {
  background-color: #e53935 !important;
  color: white !important; }

.bg-red-700 {
  background-color: #d32f2f !important;
  color: white !important; }

.bg-red-800 {
  background-color: #c62828 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-red-900 {
  background-color: #b71c1c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-red-A100 {
  background-color: #ff8a80 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-red-A200 {
  background-color: #ff5252 !important;
  color: white !important; }

.bg-red-A400 {
  background-color: #ff1744 !important;
  color: white !important; }

.bg-red-A700 {
  background-color: #d50000 !important;
  color: white !important; }

.bg-pink {
  background-color: #e91e63 !important;
  color: white !important; }

.bg-pink-50 {
  background-color: #fce4ec !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-pink-100 {
  background-color: #f8bbd0 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-pink-200 {
  background-color: #f48fb1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-pink-300 {
  background-color: #f06292 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-pink-400 {
  background-color: #ec407a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-pink-500 {
  background-color: #e91e63 !important;
  color: white !important; }

.bg-pink-600 {
  background-color: #d81b60 !important;
  color: white !important; }

.bg-pink-700 {
  background-color: #c2185b !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-pink-800 {
  background-color: #ad1457 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-pink-900 {
  background-color: #880e4f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-pink-A100 {
  background-color: #ff80ab !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-pink-A200 {
  background-color: #ff4081 !important;
  color: white !important; }

.bg-pink-A400 {
  background-color: #f50057 !important;
  color: white !important; }

.bg-pink-A700 {
  background-color: #c51162 !important;
  color: white !important; }

.bg-purple {
  background-color: #9c27b0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-purple-50 {
  background-color: #f3e5f5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-purple-100 {
  background-color: #e1bee7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-purple-200 {
  background-color: #ce93d8 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-purple-300 {
  background-color: #ba68c8 !important;
  color: white !important; }

.bg-purple-400 {
  background-color: #ab47bc !important;
  color: white !important; }

.bg-purple-500 {
  background-color: #9c27b0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-purple-600 {
  background-color: #8e24aa !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-purple-700 {
  background-color: #7b1fa2 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-purple-800 {
  background-color: #6a1b9a !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-purple-900 {
  background-color: #4a148c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-purple-A100 {
  background-color: #ea80fc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-purple-A200 {
  background-color: #e040fb !important;
  color: white !important; }

.bg-purple-A400 {
  background-color: #d500f9 !important;
  color: white !important; }

.bg-purple-A700 {
  background-color: #aa00ff !important;
  color: white !important; }

.bg-deep-purple {
  background-color: #673ab7 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-deep-purple-50 {
  background-color: #ede7f6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-purple-100 {
  background-color: #d1c4e9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-purple-200 {
  background-color: #b39ddb !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-purple-300 {
  background-color: #9575cd !important;
  color: white !important; }

.bg-deep-purple-400 {
  background-color: #7e57c2 !important;
  color: white !important; }

.bg-deep-purple-500 {
  background-color: #673ab7 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-deep-purple-600 {
  background-color: #5e35b1 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-deep-purple-700 {
  background-color: #512da8 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-deep-purple-800 {
  background-color: #4527a0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-deep-purple-900 {
  background-color: #311b92 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-deep-purple-A100 {
  background-color: #b388ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-purple-A200 {
  background-color: #7c4dff !important;
  color: white !important; }

.bg-deep-purple-A400 {
  background-color: #651fff !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-deep-purple-A700 {
  background-color: #6200ea !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-indigo {
  background-color: #3f51b5 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-indigo-50 {
  background-color: #e8eaf6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-indigo-100 {
  background-color: #c5cae9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-indigo-200 {
  background-color: #9fa8da !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-indigo-300 {
  background-color: #7986cb !important;
  color: white !important; }

.bg-indigo-400 {
  background-color: #5c6bc0 !important;
  color: white !important; }

.bg-indigo-500 {
  background-color: #3f51b5 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-indigo-600 {
  background-color: #3949ab !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-indigo-700 {
  background-color: #303f9f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-indigo-800 {
  background-color: #283593 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-indigo-900 {
  background-color: #1a237e !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-indigo-A100 {
  background-color: #8c9eff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-indigo-A200 {
  background-color: #536dfe !important;
  color: white !important; }

.bg-indigo-A400 {
  background-color: #3d5afe !important;
  color: white !important; }

.bg-indigo-A700 {
  background-color: #304ffe !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-blue {
  background-color: #2196f3 !important;
  color: white !important; }

.bg-blue-50 {
  background-color: #e3f2fd !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-100 {
  background-color: #bbdefb !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-200 {
  background-color: #90caf9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-300 {
  background-color: #64b5f6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-400 {
  background-color: #42a5f5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-500 {
  background-color: #2196f3 !important;
  color: white !important; }

.bg-blue-600 {
  background-color: #1e88e5 !important;
  color: white !important; }

.bg-blue-700 {
  background-color: #1976d2 !important;
  color: white !important; }

.bg-blue-800 {
  background-color: #1565c0 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-blue-900 {
  background-color: #0d47a1 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-blue-A100 {
  background-color: #82b1ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-A200 {
  background-color: #448aff !important;
  color: white !important; }

.bg-blue-A400 {
  background-color: #2979ff !important;
  color: white !important; }

.bg-blue-A700 {
  background-color: #2962ff !important;
  color: white !important; }

.bg-light-blue {
  background-color: #03a9f4 !important;
  color: white !important; }

.bg-light-blue-50 {
  background-color: #e1f5fe !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-blue-100 {
  background-color: #b3e5fc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-blue-200 {
  background-color: #81d4fa !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-blue-300 {
  background-color: #4fc3f7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-blue-400 {
  background-color: #29b6f6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-blue-500 {
  background-color: #03a9f4 !important;
  color: white !important; }

.bg-light-blue-600 {
  background-color: #039be5 !important;
  color: white !important; }

.bg-light-blue-700 {
  background-color: #0288d1 !important;
  color: white !important; }

.bg-light-blue-800 {
  background-color: #0277bd !important;
  color: white !important; }

.bg-light-blue-900 {
  background-color: #01579b !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-light-blue-A100 {
  background-color: #80d8ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-blue-A200 {
  background-color: #40c4ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-blue-A400 {
  background-color: #00b0ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-blue-A700 {
  background-color: #0091ea !important;
  color: white !important; }

.bg-cyan {
  background-color: #00bcd4 !important;
  color: white !important; }

.bg-cyan-50 {
  background-color: #e0f7fa !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-cyan-100 {
  background-color: #b2ebf2 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-cyan-200 {
  background-color: #80deea !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-cyan-300 {
  background-color: #4dd0e1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-cyan-400 {
  background-color: #26c6da !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-cyan-500 {
  background-color: #00bcd4 !important;
  color: white !important; }

.bg-cyan-600 {
  background-color: #00acc1 !important;
  color: white !important; }

.bg-cyan-700 {
  background-color: #0097a7 !important;
  color: white !important; }

.bg-cyan-800 {
  background-color: #00838f !important;
  color: white !important; }

.bg-cyan-900 {
  background-color: #006064 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-cyan-A100 {
  background-color: #84ffff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-cyan-A200 {
  background-color: #18ffff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-cyan-A400 {
  background-color: #00e5ff !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-cyan-A700 {
  background-color: #00b8d4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal {
  background-color: #009688 !important;
  color: white !important; }

.bg-teal-50 {
  background-color: #e0f2f1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal-100 {
  background-color: #b2dfdb !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal-200 {
  background-color: #80cbc4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal-300 {
  background-color: #4db6ac !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal-400 {
  background-color: #26a69a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal-500 {
  background-color: #009688 !important;
  color: white !important; }

.bg-teal-600 {
  background-color: #00897b !important;
  color: white !important; }

.bg-teal-700 {
  background-color: #00796b !important;
  color: white !important; }

.bg-teal-800 {
  background-color: #00695c !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-teal-900 {
  background-color: #004d40 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-teal-A100 {
  background-color: #a7ffeb !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal-A200 {
  background-color: #64ffda !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal-A400 {
  background-color: #1de9b6 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-teal-A700 {
  background-color: #00bfa5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green {
  background-color: #4caf50 !important;
  color: white !important; }

.bg-green-50 {
  background-color: #e8f5e9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green-100 {
  background-color: #c8e6c9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green-200 {
  background-color: #a5d6a7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green-300 {
  background-color: #81c784 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green-400 {
  background-color: #66bb6a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green-500 {
  background-color: #4caf50 !important;
  color: white !important; }

.bg-green-600 {
  background-color: #43a047 !important;
  color: white !important; }

.bg-green-700 {
  background-color: #388e3c !important;
  color: white !important; }

.bg-green-800 {
  background-color: #2e7d32 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-green-900 {
  background-color: #1b5e20 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-green-A100 {
  background-color: #b9f6ca !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green-A200 {
  background-color: #69f0ae !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green-A400 {
  background-color: #00e676 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-green-A700 {
  background-color: #00c853 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green {
  background-color: #8bc34a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-50 {
  background-color: #f1f8e9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-100 {
  background-color: #dcedc8 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-200 {
  background-color: #c5e1a5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-300 {
  background-color: #aed581 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-400 {
  background-color: #9ccc65 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-500 {
  background-color: #8bc34a !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-600 {
  background-color: #7cb342 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-700 {
  background-color: #689f38 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-800 {
  background-color: #558b2f !important;
  color: white !important; }

.bg-light-green-900 {
  background-color: #33691e !important;
  color: white !important; }

.bg-light-green-A100 {
  background-color: #ccff90 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-A200 {
  background-color: #b2ff59 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-A400 {
  background-color: #76ff03 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-light-green-A700 {
  background-color: #64dd17 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime {
  background-color: #cddc39 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-50 {
  background-color: #f9fbe7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-100 {
  background-color: #f0f4c3 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-200 {
  background-color: #e6ee9c !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-300 {
  background-color: #dce775 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-400 {
  background-color: #d4e157 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-500 {
  background-color: #cddc39 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-600 {
  background-color: #c0ca33 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-700 {
  background-color: #afb42b !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-800 {
  background-color: #9e9d24 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-900 {
  background-color: #827717 !important;
  color: white !important; }

.bg-lime-A100 {
  background-color: #f4ff81 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-A200 {
  background-color: #eeff41 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-A400 {
  background-color: #c6ff00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-lime-A700 {
  background-color: #aeea00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow {
  background-color: #ffeb3b !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-50 {
  background-color: #fffde7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-100 {
  background-color: #fff9c4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-200 {
  background-color: #fff59d !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-300 {
  background-color: #fff176 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-400 {
  background-color: #ffee58 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-500 {
  background-color: #ffeb3b !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-600 {
  background-color: #fdd835 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-700 {
  background-color: #fbc02d !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-800 {
  background-color: #f9a825 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-900 {
  background-color: #f57f17 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-A100 {
  background-color: #ffff8d !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-A200 {
  background-color: yellow !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-A400 {
  background-color: #ffea00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-yellow-A700 {
  background-color: #ffd600 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber {
  background-color: #ffc107 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-50 {
  background-color: #fff8e1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-100 {
  background-color: #ffecb3 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-200 {
  background-color: #ffe082 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-300 {
  background-color: #ffd54f !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-400 {
  background-color: #ffca28 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-500 {
  background-color: #ffc107 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-600 {
  background-color: #ffb300 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-700 {
  background-color: #ffa000 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-800 {
  background-color: #ff8f00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-900 {
  background-color: #ff6f00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-A100 {
  background-color: #ffe57f !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-A200 {
  background-color: #ffd740 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-A400 {
  background-color: #ffc400 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-amber-A700 {
  background-color: #ffab00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange {
  background-color: #ff9800 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-50 {
  background-color: #fff3e0 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-100 {
  background-color: #ffe0b2 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-200 {
  background-color: #ffcc80 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-300 {
  background-color: #ffb74d !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-400 {
  background-color: #ffa726 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-500 {
  background-color: #ff9800 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-600 {
  background-color: #fb8c00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-700 {
  background-color: #f57c00 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-800 {
  background-color: #ef6c00 !important;
  color: white !important; }

.bg-orange-900 {
  background-color: #e65100 !important;
  color: white !important; }

.bg-orange-A100 {
  background-color: #ffd180 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-A200 {
  background-color: #ffab40 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-A400 {
  background-color: #ff9100 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-orange-A700 {
  background-color: #ff6d00 !important;
  color: black !important; }

.bg-deep-orange {
  background-color: #ff5722 !important;
  color: white !important; }

.bg-deep-orange-50 {
  background-color: #fbe9e7 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-orange-100 {
  background-color: #ffccbc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-orange-200 {
  background-color: #ffab91 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-orange-300 {
  background-color: #ff8a65 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-orange-400 {
  background-color: #ff7043 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-orange-500 {
  background-color: #ff5722 !important;
  color: white !important; }

.bg-deep-orange-600 {
  background-color: #f4511e !important;
  color: white !important; }

.bg-deep-orange-700 {
  background-color: #e64a19 !important;
  color: white !important; }

.bg-deep-orange-800 {
  background-color: #d84315 !important;
  color: white !important; }

.bg-deep-orange-900 {
  background-color: #bf360c !important;
  color: white !important; }

.bg-deep-orange-A100 {
  background-color: #ff9e80 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-orange-A200 {
  background-color: #ff6e40 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-deep-orange-A400 {
  background-color: #ff3d00 !important;
  color: white !important; }

.bg-deep-orange-A700 {
  background-color: #dd2c00 !important;
  color: white !important; }

.bg-brown {
  background-color: #795548 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-brown-50 {
  background-color: #efebe9 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-brown-100 {
  background-color: #d7ccc8 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-brown-200 {
  background-color: #bcaaa4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-brown-300 {
  background-color: #a1887f !important;
  color: white !important; }

.bg-brown-400 {
  background-color: #8d6e63 !important;
  color: white !important; }

.bg-brown-500 {
  background-color: #795548 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-brown-600 {
  background-color: #6d4c41 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-brown-700 {
  background-color: #5d4037 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-brown-800 {
  background-color: #4e342e !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-brown-900 {
  background-color: #3e2723 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-brown-A100 {
  background-color: #d7ccc8 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-brown-A200 {
  background-color: #bcaaa4 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-brown-A400 {
  background-color: #8d6e63 !important;
  color: white !important; }

.bg-brown-A700 {
  background-color: #5d4037 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-grey {
  background-color: #9e9e9e !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-50 {
  background-color: #fafafa !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-100 {
  background-color: whitesmoke !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-200 {
  background-color: #eeeeee !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-300 {
  background-color: #e0e0e0 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-400 {
  background-color: #bdbdbd !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-500 {
  background-color: #9e9e9e !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-600 {
  background-color: #757575 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-grey-700 {
  background-color: #616161 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-grey-800 {
  background-color: #424242 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-grey-900 {
  background-color: #212121 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-grey-A100 {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-A200 {
  background-color: #eeeeee !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-A400 {
  background-color: #bdbdbd !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-grey-A700 {
  background-color: #616161 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-blue-grey {
  background-color: #607d8b !important;
  color: white !important; }

.bg-blue-grey-50 {
  background-color: #eceff1 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-grey-100 {
  background-color: #cfd8dc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-grey-200 {
  background-color: #b0bec5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-grey-300 {
  background-color: #90a4ae !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-grey-400 {
  background-color: #78909c !important;
  color: white !important; }

.bg-blue-grey-500 {
  background-color: #607d8b !important;
  color: white !important; }

.bg-blue-grey-600 {
  background-color: #546e7a !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-blue-grey-700 {
  background-color: #455a64 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-blue-grey-800 {
  background-color: #37474f !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-blue-grey-900 {
  background-color: #263238 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

.bg-blue-grey-A100 {
  background-color: #cfd8dc !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-grey-A200 {
  background-color: #b0bec5 !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.bg-blue-grey-A400 {
  background-color: #78909c !important;
  color: white !important; }

.bg-blue-grey-A700 {
  background-color: #455a64 !important;
  color: rgba(255, 255, 255, 0.87) !important; }

/* Extra text colors */
.text-red {
  color: #f44336 !important; }

a.text-red:focus, a.text-red:hover {
  color: #ea1c0d !important; }

.text-pink {
  color: #e91e63 !important; }

a.text-pink:focus, a.text-pink:hover {
  color: #c1134e !important; }

.text-purple {
  color: #9c27b0 !important; }

a.text-purple:focus, a.text-purple:hover {
  color: #771e86 !important; }

.text-deep-purple {
  color: #673ab7 !important; }

a.text-deep-purple:focus, a.text-deep-purple:hover {
  color: #512e90 !important; }

.text-indigo {
  color: #3f51b5 !important; }

a.text-indigo:focus, a.text-indigo:hover {
  color: #32408f !important; }

.text-blue {
  color: #2196f3 !important; }

a.text-blue:focus, a.text-blue:hover {
  color: #0c7cd5 !important; }

.text-light-blue {
  color: #03a9f4 !important; }

a.text-light-blue:focus, a.text-light-blue:hover {
  color: #0286c2 !important; }

.text-cyan {
  color: #00bcd4 !important; }

a.text-cyan:focus, a.text-cyan:hover {
  color: #008fa1 !important; }

.text-teal {
  color: #009688 !important; }

a.text-teal:focus, a.text-teal:hover {
  color: #00635a !important; }

.text-green {
  color: #4caf50 !important; }

a.text-green:focus, a.text-green:hover {
  color: #3d8b40 !important; }

.text-light-green {
  color: #8bc34a !important; }

a.text-light-green:focus, a.text-light-green:hover {
  color: #71a436 !important; }

.text-lime {
  color: #cddc39 !important; }

a.text-lime:focus, a.text-lime:hover {
  color: #b2c022 !important; }

.text-yellow {
  color: #ffeb3b !important; }

a.text-yellow:focus, a.text-yellow:hover {
  color: #ffe608 !important; }

.text-amber {
  color: #ffc107 !important; }

a.text-amber:focus, a.text-amber:hover {
  color: #d39e00 !important; }

.text-orange {
  color: #ff9800 !important; }

a.text-orange:focus, a.text-orange:hover {
  color: #cc7a00 !important; }

.text-deep-orange {
  color: #ff5722 !important; }

a.text-deep-orange:focus, a.text-deep-orange:hover {
  color: #ee3900 !important; }

.text-brown {
  color: #795548 !important; }

a.text-brown:focus, a.text-brown:hover {
  color: #593f35 !important; }

.text-grey {
  color: #9e9e9e !important; }

a.text-grey:focus, a.text-grey:hover {
  color: #858484 !important; }

.text-blue-grey {
  color: #607d8b !important; }

a.text-blue-grey:focus, a.text-blue-grey:hover {
  color: #4b626d !important; }