<div class="row">  
  <div class="col-md-12 col-xl-3">
    <div class="card bg-success large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">87</h4>
        <h6 class="ng-tns-c5-51">Pekerjaan</h6>
        <i class="fa fa-truck"></i>
      </div>
    </div>  
  </div>

  <div class="col-md-12 col-xl-3">
    <div class="card bg-primary large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">760</h4>
        <h6 class="ng-tns-c5-51">Jam Perjalanan</h6>
        <i class="fa fa-history"></i>
      </div>
    </div>  
  </div>

  <div class="col-md-12 col-xl-3">
    <div class="card bg-info large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">6</h4>
        <h6 class="ng-tns-c5-51">Pekerjaan Ke Depan</h6>
        <i class="fa fa-share"></i>
      </div>
    </div>  
  </div>

  <div class="col-md-12 col-xl-3">
    <div class="card bg-warning large-widget-card">
      <div class="card-block">
        <h4 class="ng-tns-c5-51">1</h4>
        <h6 class="ng-tns-c5-51">Pekerjaan Batal</h6>
        <i class="fa fa-exclamation"></i>
      </div>
    </div>  
  </div>
</div>



<div class="row">   
  <div class="col-md-12 col-xl-6">
    <div class="card table-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-6 card-block-big br">
            <div class="row">
              <div class="col-sm-3">
                <i class="fa fa-star text-success"></i>
              </div>
              <div class="col-sm-9 text-center">
                <h5>89 part</h5>
                <span>Total Sparepart Baru</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 card-block-big">
            <div class="row">
              <div class="col-sm-3">
                <i class="fa fa-star-half-full text-danger"></i>
              </div>
              <div class="col-sm-9 text-center">
                <h5>124 part</h5>
                <span>Total Sparepart Bekas</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="row-table">
          <div class="col-sm-6 card-block-big br">
            <div class="row">
              <div class="col-sm-3">
                <i class="fa fa-wrench text-info"></i>
              </div>
              <div class="col-sm-9 text-center">
                <h5>34 piece</h5>
                <span>Total Tools</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 card-block-big">
            <div class="row">
              <div class="col-sm-3">
                <i class="fa fa-suitcase text-warning"></i>
              </div>
              <div class="col-sm-9 text-center">
                <h5>12 supplier</h5>
                <span>Total Supplier</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div class="col-md-12 col-xl-3"> 
    <div class="card table-card widget-success-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-3 card-block-big">
            <i class="icofont icofont-trophy-alt"></i>
          </div>
          <div class="col-sm-9">
            <h4>132 </h4>
            <h6>Laporan Selesai</h6>
          </div>
        </div>
      </div>
    </div> 
    <div class="card table-card widget-primary-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-3 card-block-big">
            <i class="icofont icofont-gear"></i>
          </div>
          <div class="col-sm-9">
            <h4>12</h4>
            <h6>Laporan Dalam Proses</h6>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="col-md-12 col-xl-3"> 
    <div class="card table-card widget-info-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-3 card-block-big">
            <i class="icofont icofont-badge"></i>
          </div>
          <div class="col-sm-9">
            <h4>2</h4>
            <h6>Laporan Baru</h6>
          </div>
        </div>
      </div>
    </div> 
    <div class="card table-card widget-warning-card">
      <div class="">
        <div class="row-table">
          <div class="col-sm-3 card-block-big">
            <i class="icofont icofont-warning"></i>
          </div>
          <div class="col-sm-9">
            <h4>12</h4>
            <h6>Laporan Ditolak</h6>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>


<div class="row">   
  <div class="col-md-12 col-lg-4">
    <div class="card card-border-success">
      <div class="card-header"> 
        <h5>Status Kas Untuk Ban </h5>
      </div>
      <div class="card-block">
        <knob class="skin2" #myknob2 [min]="0" [max]="100" [value]="5" [startDegree]="320"  [endDegree]="160" [intensive]="false"></knob>
        <div class="info degree">5 %</div>
        <div class="info center">Rp 10.000.000 / Rp 200.000.000</div>
      </div> 
    </div>
  </div>

  <div class="col-md-12 col-lg-4">
    <div class="card card-border-success">
      <div class="card-header"> 
        <h5>Status Kas Untuk Sparepart & Service </h5>
      </div>
      <div class="card-block">
        <knob class="skin2" #myknob2 [min]="0" [max]="100" [value]="50" [startDegree]="320"  [endDegree]="160" [intensive]="false"></knob>
        <div class="info degree">50 %</div>
        <div class="info center">Rp 100.000.000 / Rp 200.000.000</div>
      </div> 
    </div>
  </div>

  <div class="col-md-12 col-lg-4">
    <div class="card card-border-success">
      <div class="card-header"> 
        <h5>Status Kas Keseluruhan </h5>
      </div>
      <div class="card-block">
        <knob class="skin2" #myknob2 [min]="0" [max]="100" [value]="27.5" [startDegree]="320"  [endDegree]="160" [intensive]="false"></knob>
        <div class="info degree">27.5 %</div>
        <div class="info center">Rp 110.000.000 / Rp 400.000.000</div>
      </div> 
    </div>
  </div>
</div>


<div class="row">  
  <div class="col-md-12 col-xl-6">
    <div class="card card-border-success">
      <div class="card-header"> 
        <h5>Pengajuan Sparepart </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Barang </li>
              <li>Jumlah </li>
              <li>Harga </li>
              <li>Total </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>Lampu Sein</li>
              <li>2</li>
              <li>Rp. 30.000</li>
              <li><b>Rp. 60.000</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-info">Menunggu Persetujuan Kepala Bengkel</label> 
        </div>
      </div> 
    </div>
  </div> 

  <div class="col-md-12 col-xl-6">
    <div class="card card-border-success">
      <div class="card-header"> 
        <h5>Pengajuan Sparepart </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Barang </li>
              <li>Jumlah </li>
              <li>Harga </li>
              <li>Total </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>Lampu Sein</li>
              <li>2</li>
              <li>Rp. 30.000</li>
              <li><b>Rp. 60.000</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-success">Selesai Disetujui</label> 
        </div>
      </div> 
    </div>
  </div>



  <div class="col-md-12 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header"> 
        <h5>Pengajuan Service </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Barang </li>
              <li>Jumlah </li>
              <li>Harga </li>
              <li>Total </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>Lampu Sein</li>
              <li>2</li>
              <li>Rp. 30.000</li>
              <li><b>Rp. 60.000</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-info">Menunggu Persetujuan Kepala Bengkel</label> 
        </div>
      </div> 
    </div>
  </div> 

  <div class="col-md-12 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header"> 
        <h5>Pengajuan Service </h5>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
            <ul class="list list-unstyled">
              <li>Ticket </li>
              <li>Tanggal </li>
              <li>Barang </li>
              <li>Jumlah </li>
              <li>Harga </li>
              <li>Total </li>
            </ul>
          </div> 
          <div class="col-sm-1">
            <ul class="list list-unstyled">
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
              <li>:</li>
            </ul>
          </div> 
          <div class="col-sm-8">
            <ul class="list list-unstyled">
              <li>#0028</li>
              <li>25 April 2018</li>
              <li>Lampu Sein</li>
              <li>2</li>
              <li>Rp. 30.000</li>
              <li><b>Rp. 60.000</b></li>
            </ul>
          </div> 
        </div>
      </div>
      <div class="card-footer"> 
        <div>
          <span class="f-left m-r-5 text-inverse">Status : </span>
          <label class="label label-danger">Ditolak Kepala Bengkel</label> 
        </div>
      </div> 
    </div>
  </div>
</div>



<div class="row">  
  <div class="col-md-12 col-xl-12">
    <div class="card">
      <div class="card-header"> 
        <h5>Aktivitas Pekerjaan Per Bulan</h5>
      </div>
      <div class="card-block">
        <div id="morris-extra-area"></div>
      </div>
    </div>
  </div>
</div>



<div class="row">  
  <div class="col-md-12 col-xl-12">
    <div class="card">
      <div class="card-header"> 
        <h5>Status Laporan Kondisi Kendaraan Harian</h5>
      </div>
      <div class="card-block">
        <horizontal-timeline [timelineElements]="timeline" [showContent]="true"></horizontal-timeline>
      </div>
    </div>
  </div>
</div>

 